<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    
    <!-- not = because it doesnt include 
    spl char and returns a string -->
    <%- include('./partials/nav.ejs') %> 

    <div class="Blogs Content">
        <h2>All Blogs</h2>

        <% if(blogs.length>0){ %>
            <% blogs.forEach(blog=>{ %> 
            <!-- we get id of the blog with it's url
            later we will extract the id from url     -->
            <a class="single" href="/blogs/<%= blog._id %>"></a>
              <h3 class="title"><%= blog.title %> </h3>
              <p class="snippet"><%= blog.snippet %> </p>
            </a>
        <% }) %> 
        <% } else { %> 
           <p>No blogs present</p> 
        <% } %> 
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>
